<h2>Users Table</h2>

<div class="flex">
  <div class="overflow-auto">
    <div class="m-5">
      <form (ngSubmit)="onRegisterFormSubmit()" [formGroup]="registerForm" enctype="multipart/form-data">
        <label for="name">Nombre:</label><br>
        <input class="w-full" type="text" id="name" formControlName="name"><br>
        <label for="surname1">Apellido 1:</label><br>
        <input class="w-full" type="text" id="surname1" formControlName="surname1"><br>
        <label for="surname2">Apellido 2:</label><br>
        <input class="w-full" type="text" id="surname2" formControlName="surname2"><br>
        <label for="phoneNumber">Teléfono:</label><br>
        <input class="w-full" type="phone" id="phoneNumber" formControlName="phoneNumber"><br>
        <label for="email">E-mail:</label><br>
        <input class="w-full" type="email" id="email" formControlName="email"><br>
        <label for="pass">Password:</label><br>
        <input class="w-full" type="password" id="pass" formControlName="pass"><br>
        <label for="pass2">Password2:</label><br>
        <input class="w-full" type="password" id="pass2" formControlName="pass2"><br>
        <label for="bday">Nacimiento:</label><br>
        <input class="w-full" type="date" id="bday" formControlName="bday"><br>
        <label for="image">Imagen de Perfil:</label><br>
        <input class="w-full" type="file" id="image" formControlName="image"><br><br>
        <button class="w-full btn btn-primary mt-3 mb-3" type="submit">Enviar</button>
      </form>
      </div>
    <div *ngIf="contacts$ | async as contacts">
      <div *ngIf="contacts.length > 0; else noContacts">
        <table>
          <tr>
            <th>Nombre</th>
            <th>Apellido 1</th>
            <th>Apellido 2</th>
            <th>E-mail</th>
            <th>Phone</th>
            <th>Nacimiento</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let user of contacts">
            <td>{{user.name}}</td>
            <td>{{user.surname1}}</td>
            <td>{{user.surname2}}</td>
            <td><a href="mailto:{{user.email}}"><i class="bi bi-envelope-at"></i>&nbsp;&nbsp;{{user.email}}</a></td>
            <td><a href="{{'tel:' + user.phoneNumber}}"><i class="bi bi-telephone-inbound"></i>&nbsp;&nbsp;{{user.phoneNumber}}</a></td>
            <td>{{user.bday}}</td>
            <td><button class="btn btn-secondary" (click)="onUpdate(user.id)">Update</button><button class="btn btn-danger" (click)="onDelete(user.id)">Delete</button></td>
          </tr>
        </table>
      </div>
      <ng-template #noContacts>
        <p>No hay contactos</p>
      </ng-template>
    </div>
  </div>
</div>